*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 242, 244);
}
.navbar{
  width: 100%;
  height: 76px;
  background-color: rgb(201, 214, 239);
  display: flex;
  align-items: center;
  padding: 0 28px;
  gap: 0;
  border-bottom: 1px solid 
  
}
.logo{
  width: 220px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.logo-circle{
  width: 35px;
  height: 35px;
  border: 3px solid rgb(227, 37, 37);
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: rgb(227, 37, 37);
  font-size: 19px;
  font-weight: bold;
  position: relative;
}
.logo-circle span:first-child{
  margin-right: 2px;
}
.logo-text b{
  display: block;
  color: rgb(54, 92, 203);
  font-size: 25px;
  line-height: 22px;
}
.logo-text small{
  display: none;
}
.location-box{
  height: 45px;
  width: 145px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
  color: rgb(85, 85, 85);
  font-size: 15px;
}
.location-search{
  width: 42px;
  height: 45px;
  border: 1px solid rgb(217, 217, 217);
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
  font-size: 15px;
  color: rgb(23, 97, 181);
}
.main-search{
  height: 45px;
  flex: 1;
  max-width: 520px;
  display: flex;
  border: 1px solid rgb(216, 216, 216);
  border-radius:5px;
  overflow: hidden;
  margin-left: 10px;
}
.main-search input{
  flex: 1;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  color: rgb(68, 68, 68);
}
.main-search input::placeholder{
  color: rgb(153, 153, 153);
}

